---
title: Le Wagon - Middleman
---

<<<<<<< HEAD
<%= partial "layouts/banner" %>
<!-- cities.html.erb -->

<div class="container">
  <div class="row">
  <% %w(berlin shanghai paris tokyo rio).each do |city| %>
      <div class="col-xs-12 col-md-3">
      <div class = "card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city %>');">
      <div class="card-description">
        <h2>Le Wagon <%= city.capitalize %></h2>
      </div>
      </div>
    </div>
  <% end %>
  </div>
  </div>

=======
<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
>>>>>>> origin/master
